.button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.xp-button {
    padding: 2px 8px;
    font-size: 12px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-shadow: 1px 1px 0px white;
    height: 24px;
}

.xp-button.add-button {
    background: linear-gradient(to bottom, #E1F3FB, #A0C8E0);
    border: 1px solid #7BA0B8;
}

.xp-button.add-button:hover {
    background: linear-gradient(to bottom, #D0E7F3, #90B8D0);
    border-color: #6A90A8;
}

.xp-button.edit-button {
    background: linear-gradient(to bottom, #FBE1E1, #E0A0A0);
    border: 1px solid #B87A7A;
}

.xp-button.edit-button:hover {
    background: linear-gradient(to bottom, #F3D0D0, #D09090);
    border-color: #A86A6A;
}

.xp-button.save-button {
    background: linear-gradient(to bottom, #E1FBE1, #A0E0A0);
    border: 1px solid #7AB87A;
}

.xp-button.save-button:hover {
    background: linear-gradient(to bottom, #D0F3D0, #90D090);
    border-color: #6AA86A;
}

.xp-button:disabled {
    background: #d4d0c8;
    cursor: not-allowed;
    border-color: #A0A0A0;
}

.xp-form {
    display: flex;
    flex-direction: column;
    background-color: #d4d0c8;
    padding: 10px;
    border: 1px solid #808080;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.xp-form label {
    margin-top: 10px;
    font-size: 12px;
    color: #000;
}

.xp-form input {
    /* padding: 2px 4px; */
    margin-top: 5px;
    font-size: 12px;
    border: 1px solid #A0A0A0;
    border-radius: 2px;
    width: 200px;
    height: 22px;
    box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.8), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}

.xp-form input:focus {
    outline: none;
    border-color: #3A6EA5;
    box-shadow: 0 0 5px rgba(58, 110, 165, 0.5);
}

.xp-form input:disabled {
    cursor: not-allowed;
}

.xp-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
    border: 2px solid #A0A0A0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.xp-table th,
.xp-table td {
    /* padding: 2px 4px; */
    border: 1px solid #A0A0A0;
    text-align: left;
    font-size: 12px;
}

.xp-table th {
    background-color: #3A6EA5;
    color: white;
    font-size: 12px;
    /* padding: 4px; */
}

.xp-table td button {
    padding: 2px 8px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    height: 24px;
    width: auto;
}

.xp-table td .crud-edit {
    background-color: #E1F3FB;
    border: 1px solid #7BA0B8;
}

.xp-table td .crud-edit:hover {
    background-color: #D0E7F3;
    border-color: #6A90A8;
}

.xp-table td .crud-delete {
    background-color: #FBE1E1;
    border: 1px solid #B87A7A;
}

.xp-table td .crud-delete:hover {
    background-color: #F3D0D0;
    border-color: #A86A6A;
}
